/* line 2, scss/elements/_nav.scss */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  opacity: 0.7; }
  /* line 8, scss/elements/_nav.scss */
  nav ul {
    margin-top: -2rem;
    padding-bottom: 0.85rem; }
    /* line 11, scss/elements/_nav.scss */
    nav ul li {
      list-style: none;
      display: inline;
      position: relative; }
      /* line 15, scss/elements/_nav.scss */
      nav ul li a {
        text-decoration: none;
        color: honeydew;
        font-size: 1.5rem;
        float: right;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -0.5rem; }

/* line 28, scss/elements/_nav.scss */
.logo {
  background-size: contain;
  background-position: 100% 100%;
  height: 3rem;
  opacity: 0.5; }

/* line 35, scss/elements/_nav.scss */
ul {
  list-style-type: none; }

@media only screen and (min-width: 1200px) {
  /* line 40, scss/elements/_nav.scss */
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    opacity: 0.7; }
    /* line 46, scss/elements/_nav.scss */
    nav ul {
      margin-top: -2rem;
      padding-bottom: 1rem; }
      /* line 49, scss/elements/_nav.scss */
      nav ul li {
        list-style: none;
        display: inline;
        position: relative; }
        /* line 53, scss/elements/_nav.scss */
        nav ul li a {
          text-decoration: none;
          color: honeydew;
          font-size: 1rem;
          float: right;
          margin-left: 2rem;
          margin-right: 2rem;
          margin-top: -0.2rem; }
  /* line 66, scss/elements/_nav.scss */
  .logo {
    background-size: contain;
    background-position: 100% 100%;
    height: 3rem;
    opacity: 0.5; }
  /* line 73, scss/elements/_nav.scss */
  ul {
    list-style-type: none; } }

/* line 2, scss/elements/_hero.scss */
.hero-img {
  background: url(../img/blurred.jpg) no-repeat;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 9, scss/elements/_hero.scss */
.hero-text-title {
  margin: auto;
  padding-top: 20rem;
  text-align: center;
  color: honeydew;
  text-shadow: currentColor;
  font-size: 3rem; }

/* line 18, scss/elements/_hero.scss */
.hero-text-p {
  margin: auto;
  text-align: center;
  color: honeydew;
  padding-bottom: 2rem;
  font-size: 1rem; }

/* line 27, scss/elements/_hero.scss */
.hero-text-button {
  margin: auto;
  text-align: center;
  display: block;
  font-size: 15px; }

@media only screen and (min-width: 1200px) {
  /* line 35, scss/elements/_hero.scss */
  .hero-img {
    background: url(../img/blurred.jpg) no-repeat;
    height: 48.7rem;
    background-size: cover;
    background-repeat: no-repeat; }
  /* line 42, scss/elements/_hero.scss */
  .hero-text-title {
    margin: auto;
    padding-top: 10rem;
    text-align: center;
    color: honeydew;
    text-shadow: currentColor;
    font-size: 5rem; }
  /* line 51, scss/elements/_hero.scss */
  .hero-text-p {
    margin: auto;
    text-align: center;
    color: honeydew;
    padding-bottom: 2rem;
    font-size: 1.5rem; }
  /* line 60, scss/elements/_hero.scss */
  .hero-text-button {
    margin: auto;
    text-align: center;
    display: block;
    font-size: 20px; } }

/* line 2, scss/elements/_card.scss */
.card-text {
  text-align: center; }

/* line 6, scss/elements/_card.scss */
.card {
  list-style-type: none;
  width: 20%;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 10px 10px 5px gray; }

/* line 15, scss/elements/_card.scss */
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 40%; }

@media only screen and (min-width: 1200px) {
  /* line 24, scss/elements/_card.scss */
  .card-text {
    text-align: center; }
  /* line 28, scss/elements/_card.scss */
  .card {
    margin: 80px;
    list-style-type: none; } }

/* line 2, scss/elements/_footer.scss */
.footer-copyright {
  margin-top: 2.5rem; }

/* line 6, scss/elements/_footer.scss */
.footer-wrapper {
  margin-right: 1rem;
  margin-left: 1rem; }

@media only screen and (min-width: 1200px) {
  /* line 12, scss/elements/_footer.scss */
  .footer-copyright {
    padding-top: 48px; } }

/* line 2, scss/elements/_social.scss */
.social-links {
  display: flex;
  list-style-type: none;
  justify-content: center; }
  /* line 6, scss/elements/_social.scss */
  .social-links .social-media {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem; }

@media only screen and (min-width: 1200px) {
  /* line 16, scss/elements/_social.scss */
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 20px;
    height: 20px;
    list-style-type: none; }
    /* line 22, scss/elements/_social.scss */
    .social-links .social-media {
      margin-right: 1rem; }
  /* line 28, scss/elements/_social.scss */
  .social-links img {
    width: 100%;
    height: auto; } }

/* line 2, scss/elements/_testimony.scss */
.box_carrossel {
  width: 460px;
  height: 305px;
  overflow: hidden;
  margin: 10% auto;
  position: relative;
  padding: 10px 30px;
  background: #fff;
  box-shadow: 0 0 5px 1px #000; }

/* line 13, scss/elements/_testimony.scss */
.box_carrossel .nav {
  position: absolute;
  top: 0;
  padding: 10px 5px;
  display: table;
  height: 305px;
  color: #fff;
  font-size: 1.3em;
  cursor: pointer; }

/* line 24, scss/elements/_testimony.scss */
.box_carrossel .nav p {
  display: table-cell;
  vertical-align: middle; }

/* line 29, scss/elements/_testimony.scss */
.box_carrossel .nav:hover {
  background: #980100; }

/* line 33, scss/elements/_testimony.scss */
.box_carrossel .nav.back {
  left: 0; }

/* line 37, scss/elements/_testimony.scss */
.box_carrossel .nav.forth {
  right: 0; }

/* line 41, scss/elements/_testimony.scss */
.carrossel {
  list-style: none;
  width: 1000%;
  float: left;
  background: #fff; }

/* line 48, scss/elements/_testimony.scss */
.carrossel .item {
  float: left;
  width: 350px;
  padding: 10px;
  margin-right: 10px; }

/* line 55, scss/elements/_testimony.scss */
.carrossel img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3rem;
  width: 145%; }

@media only screen and (min-width: 1200px) {
  /* line 64, scss/elements/_testimony.scss */
  .box_carrossel {
    width: 460px;
    height: 305px;
    overflow: hidden;
    margin: 10% auto;
    position: relative;
    padding: 10px 30px;
    background: #fff;
    box-shadow: 0 0 5px 1px #000; }
  /* line 75, scss/elements/_testimony.scss */
  .box_carrossel .nav {
    position: absolute;
    top: 0;
    padding: 10px 5px;
    display: table;
    height: 305px;
    color: #fff;
    font-size: 1.3em;
    cursor: pointer; }
  /* line 86, scss/elements/_testimony.scss */
  .box_carrossel .nav p {
    display: table-cell;
    vertical-align: middle; }
  /* line 91, scss/elements/_testimony.scss */
  .box_carrossel .nav:hover {
    background: #980100; }
  /* line 95, scss/elements/_testimony.scss */
  .box_carrossel .nav.back {
    left: 0; }
  /* line 99, scss/elements/_testimony.scss */
  .box_carrossel .nav.forth {
    right: 0; }
  /* line 103, scss/elements/_testimony.scss */
  .carrossel {
    list-style: none;
    width: 1000%;
    float: left;
    background: #fff; }
  /* line 110, scss/elements/_testimony.scss */
  .carrossel .item {
    float: left;
    width: 350px;
    padding: 10px;
    margin-right: 10px; }
  /* line 117, scss/elements/_testimony.scss */
  .carrossel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    width: 145%; } }

/* line 2, scss/imgs/imgs.scss */
.chef {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

/* line 10, scss/imgs/imgs.scss */
.painter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; }

@media only screen and (min-width: 1200px) {
  /* line 19, scss/imgs/imgs.scss */
  .conteudo img.chef {
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; }
  /* line 27, scss/imgs/imgs.scss */
  .conteudo img.painter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%; } }

/* line 2, scss/structure/structure.scss */
.conteudo p {
  display: block;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 86%; }

/* line 9, scss/structure/structure.scss */
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  max-width: 74%;
  margin-left: auto;
  margin-right: auto;
  align-items: center; }

@media only screen and (min-width: 1200px) {
  /* line 21, scss/structure/structure.scss */
  .container {
    max-width: 500px;
    margin: -40px auto; }
  /* line 26, scss/structure/structure.scss */
  .flex {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 10px;
    flex-flow: row nowrap;
    max-width: 90%; }
  /* line 35, scss/structure/structure.scss */
  .hidden {
    display: none !important; } }

/* line 2, scss/base/base.scss */
h1 {
  font-family: "Helvetica Neue", sans-serif; }

/* line 6, scss/base/base.scss */
h2 {
  font-family: "source-serif-pro", Georgia, "Times New Roman", Times, serif; }

/* line 10, scss/base/base.scss */
h3 {
  font-family: "source-serif-pro", Georgia, "Times New Roman", Times, serif; }

/* line 14, scss/base/base.scss */
body {
  margin: 0; }
