.logo{
    background-size: contain;
    background-position: 100% 100%;
    height: 3rem;
    opacity: 0.5;
}

h1{
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(36, 35, 35,0.7);
}

ul {
    list-style-type: none;
}

nav ul {
    margin-top: -2rem;
    padding-bottom: 0.85rem;
}

nav ul li{
    list-style: none;
    display: inline;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: honeydew;
    font-size: 1.5rem;
    float: right;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -0.5rem;
}

.hero-img{
    background: url(../img/blurred.jpg) no-repeat;
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text-title{
    margin: auto;
    padding-top: 20rem;
    text-align: center;
    color: aliceblue;
    text-shadow: currentColor;
    font-size: 3rem;
}

.hero-text-p{
    margin: auto;
    text-align: center;
    color:aliceblue;
    padding-bottom: 2rem; 
    font-size: 1rem;

}

.hero-text-button{
    margin: auto;
    text-align: center;
    display: block;
}

.conteudo p {
    display: block;
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 86%;
}


.chef {
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.painter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 74%;
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    text-align: center;
}

.card {
    list-style-type: none;
    width: 35%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 10px 10px 5px grey;
}

.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 55%;
}

.social-links {
    display: flex;
    list-style-type: none;
    justify-content: center;

}
.social-media{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
}

.footer-copyright {
    margin-top: 2.5rem;
}

.testimony-text {
    visibility: hidden;
}

#first-testimony { 
    visibility: visible;
}

.footer-wrapper{
    margin-right: 1rem;
    margin-left: 1rem;
}

@media only screen and (min-width: 1200px) {
    .logo{
        background-size: contain;
        background-position: 100% 100%;
        height: 3rem;
        opacity: 0.5;
    }

    h1{
        margin: 0;
    }

    nav{
        position: fixed;
        top: 0;
        width: 100%;
        background: rgb(36, 35, 35,0.7);
    }

    ul {
        list-style-type: none;
    }

    nav ul {
        margin-top: -2rem;
        padding-bottom: 1rem;
    }

    nav ul li{
        list-style: none;
        display: inline;
        position: relative;
    }

    nav ul li a {
        text-decoration: none;
        color: honeydew;
        font-size: 1rem;
        float: right;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .hero-img{
        background: url(../img/blurred.jpg) no-repeat;
        height: 48.7rem;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .chef {
        margin-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .painter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-text-title{
        margin: auto;
        padding-top: 10rem;
        text-align: center;
        color: aliceblue;
        text-shadow: currentColor;
        font-size: 5rem;
    }

    .hero-text-p{
        margin: auto;
        text-align: center;
        color:aliceblue;
        padding-bottom: 2rem; 
        font-size: 1.5rem;

    }

    .hero-text-button{
        margin: auto;
        text-align: center;
        display: block;
    }

    .container {
        max-width: 500px;
        margin: 0 auto;
    }

    .flex {
        display: flex;
        justify-content: space-around;
        height: 100%;
        padding: 10px;
    }

    .card-text {
        text-align: center;
    }

    .card {
        margin: 80px;
        list-style-type: none;
    }

    .social-links {
        width: 20px;
        height: 20px;
        list-style-type: none;
    }

    .social-links img {
        width: 100%;
        height: auto;
    }

    .footer-copyright {
        padding-top: 48px;
    }

    .testimony-text {
        visibility: hidden;
    }

    #first-testimony { 
        visibility: visible;
    }

    .hidden {
        display: none !important;
    }

}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
