/* line 1, scss/elements/_nav.scss */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #242323;
  opacity: 0.7; }
  /* line 7, scss/elements/_nav.scss */
  nav ul {
    margin-top: -2rem;
    padding-bottom: 0.85rem; }
    /* line 10, scss/elements/_nav.scss */
    nav ul li {
      list-style: none;
      display: inline;
      position: relative; }
      /* line 14, scss/elements/_nav.scss */
      nav ul li a {
        text-decoration: none;
        color: honeydew;
        font-size: 1.5rem;
        float: right;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: -0.5rem; }

/* line 27, scss/elements/_nav.scss */
ul {
  list-style-type: none; }

/* line 1, scss/elements/_hero.scss */
.hero-img {
  background: url(../img/blurred.jpg) no-repeat;
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat; }

/* line 8, scss/elements/_hero.scss */
.hero-text-title {
  margin: auto;
  padding-top: 20rem;
  text-align: center;
  color: aliceblue;
  text-shadow: currentColor;
  font-size: 3rem; }

/* line 17, scss/elements/_hero.scss */
.hero-text-p {
  margin: auto;
  text-align: center;
  color: aliceblue;
  padding-bottom: 2rem;
  font-size: 1rem; }

/* line 26, scss/elements/_hero.scss */
.hero-text-button {
  margin: auto;
  text-align: center;
  display: block;
  font-size: 15px; }
