$color-black: rgb(0,0,0);
$color-gray: rgb(128,128,128);
$color-honeydew: rgb(240, 255, 240);
$color-aliceblue: rgb(240, 255, 240);

$h2-h3-font: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
$h1-font: 'Helvetica Neue', sans-serif;
