@import 'settings/settings';
nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background: $color-black;
    opacity: 0.7;
    ul {
        margin-top: -2rem;
        padding-bottom: 0.85rem;
        li {
            list-style: none;
            display: inline;
            position: relative;
            a {
                text-decoration: none;
                color: $color-honeydew;
                font-size: 1.5rem;
                float: right;
                margin-left: 1rem;
                margin-right: 1rem;
                margin-top: -0.5rem;
            }
        }
    }
}

.logo{
    background-size: contain;
    background-position: 100% 100%;
    height: 3rem;
    opacity: 0.5;
}

ul {
    list-style-type: none;
}

@media only screen and (min-width: 1200px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        background: $color-black;
        opacity: 0.7;
        ul {
            margin-top: -2rem;
            padding-bottom: 1rem;
            li {
                list-style: none;
                display: inline;
                position: relative;
                a {
                    text-decoration: none;
                    color: $color-honeydew;
                    font-size: 1rem;
                    float: right;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    margin-top: -0.2rem;
                }
            }
        }
    }

    .logo{
        background-size: contain;
        background-position: 100% 100%;
        height: 3rem;
        opacity: 0.5;
    }

    ul {
        list-style-type: none;
    }
}



