@import 'settings/settings';
.box_carrossel {
    width: 460px; 
    height: 305px;
    overflow: hidden; 
    margin: 10% auto; 
    position: relative; 
    padding: 10px 30px; 
    background: #fff; 
    box-shadow: 0 0 5px 1px #000;
}

.box_carrossel .nav {
    position: absolute;
    top: 0; 
    padding: 10px 5px; 
    display: table; 
    height: 305px;  
    color: #fff; 
    font-size: 1.3em; 
    cursor: pointer;
}

.box_carrossel .nav p {
    display: table-cell; 
    vertical-align: middle;
}

.box_carrossel .nav:hover {
    background: #980100;
}

.box_carrossel .nav.back {
    left: 0;
}

.box_carrossel .nav.forth {
    right: 0;
}

.carrossel {
    list-style: none; 
    width: 1000%; 
    float: left; 
    background: #fff;
}

.carrossel .item {
    float: left; 
    width: 350px; 
    padding: 10px; 
    margin-right: 10px; 
}

.carrossel img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3rem;
    width: 145%;
}

@media only screen and (min-width: 1200px) {
    .box_carrossel {
        width: 460px; 
        height: 305px;
        overflow: hidden; 
        margin: 10% auto; 
        position: relative; 
        padding: 10px 30px; 
        background: #fff; 
        box-shadow: 0 0 5px 1px #000;
    }
    
    .box_carrossel .nav {
        position: absolute;
        top: 0; 
        padding: 10px 5px; 
        display: table; 
        height: 305px;  
        color: #fff; 
        font-size: 1.3em; 
        cursor: pointer;
    }
    
    .box_carrossel .nav p {
        display: table-cell; 
        vertical-align: middle;
    }
    
    .box_carrossel .nav:hover {
        background: #980100;
    }
    
    .box_carrossel .nav.back {
        left: 0;
    }
    
    .box_carrossel .nav.forth {
        right: 0;
    }
    
    .carrossel {
        list-style: none; 
        width: 1000%; 
        float: left; 
        background: #fff;
    }
    
    .carrossel .item {
        float: left; 
        width: 350px; 
        padding: 10px; 
        margin-right: 10px; 
    }
    
    .carrossel img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3rem;
        width: 145%;
    }
}